body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
	height:100%;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.header {
height:30px;
line-height:30px;
margin-bottom:10px;
}
.controls + .controls{
margin-right:20px;
}
.gray_link{
	color:gray;
	text-decoration:none;
}
.gray_link:visited {
	color:gray;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.main-edit {
	position:absolute;
	top:45px;
	right:0;
	bottom:10px;
	left:0;
	
}
.main-edit textarea {
	position:absolute;
	top:0;
	bottom:30px;
	left:0;
	right:0;
	font-size:14px;
	
}
.main-edit button {
	font-size:18px;
	}
.form-footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:30px;
}
.history-table{
	border-collapse:collapse;
}
.history-table .gray {
	background-color:#eee;
}
.history-table .date-cell {
	width:200px;
}
.history-table .content-cell {
	padding:10px;
}
.history-table .link-cell {
	padding:0 10px;
}
.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

a {color:#023182;
text-decoration:none;
font-size:0.7em;
text-transform:uppercase;
}