<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Wiki</title>
</head>

<body>

  <div class="header">
	<div class="controls">
    {% if user %}
      Welcome {{user.name}} / 
	  <a class="gray-link" href="/logout">logout</a>
    {% else %}
	 	  
      <a class="gray-link" href="/login">login</a>
      |
      <a class="gray-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <div class="controls">
  {% block controls %}
  {% endblock %}
  <div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <div class="clear">
  </div>
  
</body>

</html>

