{% extends "base.html" %}
{% block controls %}
	{% if page %}
  <a class="gray-link" href="{{path}}">view</a>
	{% endif %}
  <a class="gray-link" href="/_history{{path}}">history</a>
{% endblock %}

{% block content %}
  <h2>New page</h2>

    <form  
	method="post" class="main-edits">

      <label>
        <textarea name="content">{{page and page.content or ""}}</textarea>
      </label>

	  <div class="form-footer">		
		<button type="submit" value="Save"></button>
	  </div>		
    </form>
{% endblock %}
