{% extends "base.html" %}

{% block controls %}
	{% if user %}
  <a class="gray-link" href="/_edit{{path}}">edit</a>
	{% endif %}
  <a class="gray-link" href="{{path}}">view</a>
{% endblock %}

{% block content %}
	<table class="history-table">
	{% for p in posts %}
		<tr class="">
			<td class="date-cell">
				{{p.last_modified.strftime("%c")}}
			</td>
			<td class="content-cell">
				{{p.content[:100]}}
			</td>
			<td class="link-cell">
				  <a class="gray-link"
				  href="{{path}}?v={{p.key().id()}}">view</a>

			</td>
		</tr>
	{%endfor%}
{% endblock %}
