{% extends "base.html" %}

{% block controls %}
	{% if user %}
  <a class="gray-link" href="/_edit{{path}}">edit</a>
	{% endif %}
  <a class="gray-link" href="/_history{{path}}">history</a>
{% endblock %}

{% block content %}

  {{page.content | safe}}
{% endblock %}
