{% extends "base.html" %}

{% block content %}
  <h2>New page</h2>

    <form method="post">

      <label>
        <textarea name="content">{{content}}</textarea>
      </label>


      <input type="submit">
    </form>
{% endblock %}
